{% extends 'base.html.twig' %}

{% block title %}Esca'Lab!
{% endblock %}

{% block body %}
	<body>
		<div class="container">
			<p class="text poppins">Suivez les nouvelles ouvertures de salles. Validez vos réalisations. Trouvez des blocs dans votre niveau et votre style. Regardez les médias postés par les utilisateurs pour vous aider. Mesurez-vous à vos amis et aux autres grimpeurs.</p>


			<div class="row">
				<div class="col-md-10 col-lg-8">
					<div class="post-preview">
						<a href="{{ path('index') }}">
							<h2 class="post-title poppins">Trouvez des salles d'escalade</h2>
							<h3 class="post-subtitle poppins">Parcourez la liste des différentes salles d'escalade partenaire de notre site</h3>
						</a>
					</div>
					<hr/>
				</div>
			</div>
			<br/>
			<br/>
			<br/>
			<div class="row justify-content-end">
				<div class="col-md-10 col-lg-8">
					<div class="post-preview">
						<a href="{{ path('list_all_events') }}">
							<h2 class="post-title poppins">Participez aux nombreux événements</h2>
							<h3 class="post-subtitle poppins">Organisé par la salle, par des amis ou d'autres grimpeurs, il y a forcement quelque chose pour vous</h3>
						</a>
					</div>
					<hr/>
				</div>
			</div>
		</div>
		<script src="{{asset('js/home.js')}}"></script>
	</body>
{% endblock %}
