{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-lg-8">
					<div class="post-preview">
						<a href="/franchise/all">
							<h2 class="post-title">Trouvez des salles d'escalade</h2>
							<h3 class="post-subtitle">Parcourrez la liste des différentes salles d'escalade partenaire de notre site</h3>
						</a>
					</div>
					<hr/>
				</div>
			</div>
		</div>
		<script src="{{asset('js/home.js')}}"></script>
	</body>
{% endblock %}
