{% extends 'base.html.twig' %}

{% block title %}Esca'Lab!
{% endblock %}

{% block body %}
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-lg-8">
					<div class="post-preview">
						<a href="{{ path('index') }}">
							<h2 class="post-title">Trouvez des salles d'escalade</h2>
							<h3 class="post-subtitle">Parcourez la liste des différentes salles d'escalade partenaire de notre site</h3>
						</a>
					</div>
					<hr/>
				</div>
			</div>
			<br />
			<br />
			<br />
			<div class="row justify-content-end">
				<div class="col-md-10 col-lg-8">
					<div class="post-preview">
						<a href="{{ path('list_all_events') }}">
							<h2 class="post-title">Participez aux nombreux événements</h2>
							<h3 class="post-subtitle">Organisé par la salle, par des amis ou d'autres grimpeurs, il y a forcement quelque chose pour vous</h3>
						</a>
					</div>
					<hr/>
				</div>
			</div>
		</div>
		<script src="{{asset('js/home.js')}}"></script>
	</body>
{% endblock %}
