{% extends 'base.html.twig' %}

{% block title %}
Inscription ◈ Esca'Lab
{% endblock %}

{% block body %}
<main class="gradient-light-grey-light-blue">
  <div class="container min-vh-100">
    <div class="row min-vh-100">
      <div class="col-xl-3"></div>
      <div class="col-xl-6 align-self-center">
        <form class="custom-container"
          method="post"
          action="/inscription">
          <div class="text-center">
            <img src="{{ asset('images/logo.png') }}"
              width="50"
              height="50"
              class="rounded"
              alt="logo" />
          </div>

          <h1 class="text-center lobster text-black mb-4">
            Inscription enregistrée
          </h1>
          <p class=" fs-6 text-black poppins light">
            Votre inscription a été enregistrée avec succès ! Pour activer votre compte, ouvrer votre boîte mail et
            récupérez le code à 6 chiffres vous permettant d'activer votre compte.</br>
            Si vous ne trouvez pas l'email, vérifiez vos messages indésirables.
          </p>
          <div class="mb-3">
            <label for="otp"
              class="form-label poppins light">
              Code OTP
            </label>
            <input type="number"
              class="form-control poppins"
              name="otp"
              required
              id="otp"
              style="-webkit-appearance: none; margin: 0; -moz-appearance: textfield;"
              placeholder="••••••" />
          </div>
          <div class="text-center">
            <input type="hidden"
              name="checkOTP" />
            <button class="btn btn-primary poppins bold mb-3 rounded"
              type="submit">
              Vérifier mon code
            </button>
            <p class="fst-italic fs-6 text-muted poppins light">
              Vous n'avez pas reçu l'email ? <a class="text-decoration-none"
                href="/connexion">Renvoyer</a>
            </p>
          </div>
        </form>
      </div>
      <div class="col-xl-3"></div>
    </div>
  </div>
</main>
{% endblock %}